{% extends '__base__.html'%}

{% block title %}blog name {% endblock %}

{% block content %}
<!-- Main -->
<article id="main">
	<header>
		<h2>Generic Page</h2>
		<p>Aliquam ut ex ut interdum donec amet imperdiet eleifend</p>
	</header>
	<section class="wrapper style5">
		<div class="inner">

			<h3>Lorem ipsum dolor</h3>
			<p>I love pizza,</p>

			<p>Feuertop</p>

			<hr />

			<h4>As well as</h4>
			<p>Curry</p>

			<p>Falafel</p>

		</div>
	</section>
</article>

<!-- Footer -->
{% endblock %}