{% extends '__base__.html' %}

{% block title %}Comments{% endblock %}

{% block beforehead%}

<script>
	function initVM(data){
		$('#vm').show();
		var vm = new Vue({
			el: '#vm',
			data: {
				comments: data.comments,
				page: data.page
			},
			methods: {
				gotoFirstPage: function(){
					gotoPage(1);
				},
				gotoLastPage: function(){
					gotoPage(this.page.page_count);
				},
				previous: function(){
					gotoPage(this.page.page_index - 1);
				},
				next: function(){
					gotoPage(this.page.page_index + 1);
				},
				in_blog: function(comment){
					getJSON('/api/blogs/'+ comment.blog_id, function(err, r){
						if (! err){
							location.assign('/blog/'+comment.blog_id)
						}
					});
				},
				delete_comment: function(comment){
					var content = comment.content.length > 20 ? comment.content.substring(0, 20) + '...' : comment.content;
					if (confirm('Are you sure to delete the comment\"' + comment.content + '\"')){
						postJSON('/api/comments/' + comment.id + '/delete', function(err, r){
							if (err){
								return error(err);
							}
							refresh();
						});
					}
				}
			}
		});
	}

$(function(){
	getJSON('/api/comments',{
		page: {{page_index}}
	},function(err,results){
		if(err){
			return fatal(err);
		}
		$('#loading').hide();
		initVM(results);
	});
});
</script>

{% endblock %}

{% block content %}
<section>
<h4>Manage</h4>
<div>
	<ul class="actions">
		<li class="uk-active"><span>Comment</span></li>
		<li><a href="/manage/blogs">Blogs</a></li>
		<li><a href="/manage/users">Users</a></li>
	</ul>
</div>

<div id="error" class="uk-width-1-1"></div>

<div id="loading" class="uk-width-1-1 uk-text-center">
	<span><i uk-spinner></i> Loading...</span>
</div>

<div id="vm" class="uk-width-1-1">
	<hr>
	<table class="uk-table uk-table-justify uk-table-modifier">
		<thead>
			<tr>
				<th class="uk-text-left uk-width-small">Author</th>
				<th class="uk-text-left">Content</th>
				<th class="uk-text-left uk-table-expand">Created at</th>
				<th class="uk-text-left uk-width-small">Operation</th>
			</tr>
		</thead>
		<tbody>
			<tr v-for="comment in comments">
				<td>
					<span v-text="comment.user_name"></span>
				</td>
				<td>
					<a href="#0" v-on:click="in_blog(comment)">
						<span v-text="comment.content"></span>
					</a>
				</td>
				<td>
					<span v-text="comment.created_at.toDateTime()"></span>
				</td>
				<td>
					<a href="#0" v-on:click="delete_comment(comment)" style="color: #d04">Delete</a>
				</td>
			</tr>
		</tbody>
	</table>
	<hr>
	<div>
			<ul class="actions">
				<li><a v-on:click="gotoFirstPage()"><span class="icon solid fa-chevron-left "></span><span class="icon solid fa-chevron-left "></span></a></li>
				<li v-if="! page.has_previous" class="disabled"><span class="icon solid fa-chevron-left"></span></li>
				<li v-else><a v-on:click="previous()" href="#0"><span class="icon solid fa-chevron-left"></a></li>

				<li class="uk-active"><span v-text="page.page_index"></span></li>

				<li v-if="! page.has_next" class="disabled"><span class="icon solid fa-chevron-right"></i></span></li>
				<li v-else><a v-on:click="next()" href="#0"><span class="icon solid fa-chevron-right"></span></a></li>
				<li><a v-on:click="gotoLastPage()"><span class="icon solid fa-chevron-right"></span><span class="icon solid fa-chevron-right"></span></a></li>
			</ul>
	</div>
	
</div>
</section>
{% endblock %}